.NewTweet {
  padding: 2rem 1rem;
  border-bottom: 0.5px solid rgba(211, 211, 211, 0.573);

  form {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;

      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
      }

      input {
        width: 85%;
        padding: 1rem 0;
        background-color: black;
        color: white;
        font-size: large;
        border: none;
        border-bottom: 0.5px solid rgba(211, 211, 211, 0.573);
        outline-style: none;
      }
    }

    .btn {
      align-self: flex-end;
      padding: 0.7rem 0.9rem;
      width: 100px;
      border: none;
      border-radius: 50px;
      background-color: #1da1f2;
      color: white;
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
