.info-count {
  border: 2px solid dodgerblue;
  width: 350px;
  padding: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  gap: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  font-size: 1.1rem;

  .count-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .count-btn {
    width: 35px;
    height: 35px;
  }

  h3 {
    font-size: xx-large;
  }
}
.clean-btn {
  height: 35px;
  background-color: dodgerblue;
}
