.wrapper {
  height: 100vh;
  box-sizing: border-box;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    180deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 0.5697940503432495) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
