.Modal {
  position: fixed;
  animation: fadeIn 0.3s;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(146, 164, 190);
    opacity: 0.4;
    z-index: -1;
  }

  .content {
    border-radius: 0.8rem;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 450px;
    animation: fadeIn 0.8s;

    button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 800px) {
  .Modal {
    .content {
      width: 700px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
