.TweetItem {
  display: flex;
  gap: 1rem;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
  }

  p {
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3rem;
  }
}
