.TweetItem {
  display: flex;
  gap: 1rem;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
  }

  h4 {
    margin: 0;
  }

  p {
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.3rem;
  }

  .reaction {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    color: #1da1f2;

    h5 {
      margin: 0;
    }
  }
}

@media (min-width: 800px) {
  .TweetItem {
    p {
      -webkit-line-clamp: 7;
    }
  }
}
