@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* --- HEADER + NAVBAR --- */
header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav ul {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}

a {
  color: rgb(42, 41, 41);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 550;
}

h2 {
  color: #ff9b9f;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
}

.header-elements {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 90px;
}

/* --- MAIN --- */
section {
  padding: 20px;
}

.sections-title {
  padding: 10px 0;
  color: #383132;
  font-weight: 550;
  font-size: 0.7rem;
  display: none;
}

.sections-title__aboutme {
  padding-top: 30px;
  display: none;
}

/* --- Section: hero/aboutme --- */

#hero {
  margin-top: 120px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 0.3px solid #c2c0c0;
}

.hero-text {
  position: absolute;
  transform: translateY(25px);
  z-index: 1;
}

.hero-text__title {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  font-weight: 600;
  color: #ff9b9f;
}

.hero-text__par {
  font-size: 1.1rem;
  color: #626262;
  font-weight: 550;
}

.hero-text2 {
  display: none;
}

.hero-img {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 400px;
}

.hero-img__pic {
  width: 300px;
  height: 400px;
  object-fit: cover;
  transform: translateX(80px);
}

.hero-img__rect {
  width: 380px;
  height: 240px;
  background-color: rgba(255, 155, 159, 0.6);
  position: absolute;
  z-index: -1;
  transform: translate(-5px, 160px);
}

.hero-img__circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #383132;
  background: linear-gradient(to left, #fff, #fff),
    radial-gradient(
        circle at 5px 5px,
        #ff9b9f 2px,
        transparent 1px,
        transparent 8px
      )
      0 0 / 10px 10px;
  background-blend-mode: multiply, normal, normal, normal;
  position: absolute;
  z-index: -2;
  transform: translate(100px, 55px);
}

.hero-img2 {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 400px;
  display: none;
}

/* --- Section: projectgallery --- */
#projects {
  background-color: #fff;
}

.projects-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.category-title {
  font-weight: 550;
  font-size: 1rem;
}

.category-title-uxui {
  padding-top: 30px;
}

.card-title {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 15px;
  align-self: auto;
}

.brand-design,
.uxui-design,
.packaging-design,
.layout-design {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 450px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  opacity: 0.8;
}

.card img {
  width: 300px;
  height: 400px;
  align-self: center;
  object-fit: contain;
}

/* --- Modal --- */

.modal {
  display: none;
}

/* --- Section: form/contactme --- */
#contactme {
  background-color: rgb(244, 243, 243);
}

#contactme-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

p {
  padding-bottom: 15px;
  font-size: 0.9rem;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

#submit {
  margin-top: 15px;
  width: 300px;
  height: 50px;
  align-self: center;
  padding: 12px;
  background-color: #ff9b9f;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* --- Section: footer --- */
footer {
  background-color: white;
  border-top: 0.3px solid #c2c0c0;
  font-weight: 500;
  font-size: 0.9rem;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 25px;
  padding: 15px;
}

.footer-text {
  font-weight: 500;
}

.icon-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.icon-bar a {
  width: 10px;
  padding: 12px 0;
  color: #ff9b9f;
  font-size: 25px;
  display: block;
}

/* --- TABLET --- */
@media only screen and (min-width: 768px) {
  /* --- HEADER + NAVBAR --- */
  .header-elements {
    padding: 0 40px;
  }

  nav ul {
    gap: 70px;
  }

  a {
    color: rgb(42, 41, 41);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 550;
  }

  /* --- MAIN --- */
  section {
    padding: 40px;
  }

  .sections-title {
    font-size: 1rem;
    display: block;
  }

  .sections-title__aboutme {
    padding-top: 30px;
    display: block;
    font-size: 1rem;
  }

  /* --- Section: hero/aboutme --- */

  .hero-text {
    transform: translateY(60px);
  }

  .hero-text__title {
    font-size: 2.6rem;
    font-weight: 700;
  }

  .hero-text__par {
    font-size: 1.3rem;
  }

  .hero-img {
    transform: translateX(90px);
  }

  .hero-img__rect {
    width: 390px;
    height: 260px;
    transform: translate(-5px, 140px);
    display: block;
  }

  .hero-img__circle {
    width: 220px;
    height: 220px;
    transform: translate(100px, 45px);
  }

  /* --- Section: projectgallery --- */
  section {
    padding: 40px;
  }

  .projects-gallery {
    gap: 20px;
  }

  .category-title {
    text-align: center;
    font-size: 1.1rem;
  }

  .card {
    width: 480px;
    height: 380px;
  }

  .card img {
    width: 380px;
    height: 280px;
  }

  .card-title {
    font-size: 1rem;
  }

  .brand-design,
  .uxui-design,
  .packaging-design,
  .layout-design {
    gap: 30px;
  }
}

/* --- LAPTOP --- */
@media only screen and (min-width: 1024px) {
  body {
    margin: 0 100px;
    border-left: 1px solid rgb(232, 232, 232);
    border-right: 1px solid rgb(232, 232, 232);
  }

  /* --- HEADER + NAVBAR --- */
  header div {
    padding: 0 200px;
  }

  .header-elements {
    padding: 5px 100px;
  }

  .logo {
    height: 100px;
  }

  .logo-text {
    font-size: 1.2rem;
    font-weight: 600;
  }

  nav ul {
    gap: 120px;
  }

  a {
    font-size: 1.1rem;
  }

  a:hover {
    color: #ff9b9f;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: all(0.3s);
  }

  /* --- Sections: hero/aboutme - projectsgallery - form --- */

  .sections-title {
    padding-top: 20px;
    font-size: 1.2rem;
    display: block;
  }

  .sections-title__aboutme {
    padding-top: 30px;
    font-size: 1.2rem;
  }

  /* --- Section: hero/aboutme --- */

  .hero-text {
    display: none;
  }

  .hero2 {
    gap: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .hero-text2 {
    padding-left: 120px;
    display: block;
    align-self: center;
    width: 500px;
  }

  .hero-text__title2 {
    font-size: 3.4rem;
    letter-spacing: 0.1rem;
    font-family: "DM Serif Display", serif;
    color: #ff9b9f;
    opacity: 0;
  }

  .hero-text__par2 {
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    transform: translateY(-10px);
    opacity: 0;
  }

  .hero-text__descr {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.6rem;
    color: #ff9b9f;
    transform: translateY(-25px);
    opacity: 0;
  }

  .hero-img {
    display: none;
  }

  .hero-img2 {
    width: 500px;
    display: flex;
    display: block;
  }

  .hero-img__pic2 {
    width: 320px;
    height: 420px;
    object-fit: cover;
    transform: translate(150px, -20px);
    opacity: 0;
  }

  .hero-img__rect2 {
    width: 400px;
    height: 290px;
    background-color: rgba(255, 155, 159, 0.6);
    position: absolute;
    left: 142px;
    top: 268px;
    z-index: -1;
    transform: translate(200px 100px);
    opacity: 0;
  }

  .hero-img__circle2 {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    background-color: #383132;
    background: linear-gradient(to left, #fff, #fff),
      radial-gradient(
          circle at 5px 5px,
          #ff9b9f 2px,
          transparent 1px,
          transparent 8px
        )
        0 0 / 10px 10px;
    background-blend-mode: multiply, normal, normal, normal;
    position: absolute;
    z-index: -2;
    transform: translate(300px, -200px);
    opacity: 0;
  }

  .open-modal {
    padding: 12px 25px;
    width: 200px;
    border: none;
    background-color: #ff9b9f;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-25px);
    transition: all 0.5s;
  }

  .open-modal:hover {
    cursor: pointer;
  }

  /* --- Modal --- */
  .modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: center;
    gap: 10px;
    background-color: #fff;
    height: 400px;
    width: 620px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transform: translateY(45px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .modal-title {
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
    color: #ff9b9f;
  }

  .modal-par {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    line-height: 1.7rem;
    text-align: center;
    font-weight: 500;
  }

  .buttons {
    display: flex;
    gap: 20px;
  }

  .btn-download,
  .btn-link {
    padding: 10px 20px;
    border: none;
    background-color: #ff9b9f;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 550;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  .btn-link {
    background-color: #fff;
    border: 1px solid #ff9b9f;
    color: #ff9b9f;
  }

  .close-modal {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    background-color: transparent;
    font-size: 0.7rem;
    text-decoration: underline;
    font-weight: 600;
    color: #6d6969;
    transition: all 0.35s;
  }

  .btn-download,
  .btn-link:hover,
  .close-modal {
    cursor: pointer;
  }

  /* --- Section: projectgallery --- */
  section {
    padding: 40px;
  }

  .projects-gallery {
    gap: 10px;
  }

  .category-title {
    text-align: center;
    font-size: 1.3rem;
    align-self: flex-start;
    padding-left: 80px;
    padding-top: 20px;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .brand-design,
  .uxui-design,
  .packaging-design,
  .layout-design {
    width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
  }

  .card {
    opacity: 0.7;
    width: 380px;
    height: 380px;
    object-fit: contain;
    padding: 10px;
    transition: all 0.4s;
  }

  .card:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.2s;
  }

  .uxui-design,
  .packaging-design,
  .layout-design {
    overflow-x: scroll;
  }

  ::-webkit-scrollbar {
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border-radius: 10px;
  }

  /* --- Section: form --- */
  #contactme {
    background-color: rgb(244, 243, 243);
  }

  #contactme-form {
    display: flex;
    width: 500px;
  }

  .form-container {
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  p {
    font-family: "DM Serif Display", serif;
    font-size: 2.6rem;
    line-height: 2.8rem;
    color: #6d6969;
    font-weight: 600;
    width: 350px;
  }

  #submit:hover {
    cursor: pointer;
  }

  /* --- Footer --- */
  footer {
    gap: 35px;
  }

  .footer-text {
    font-weight: 500;
    font-size: 1rem;
  }

  .icon-bar {
    gap: 40px;
  }

  .icon-bar a:hover {
    cursor: pointer;
    opacity: 0.4;
    transform: scale(1.2);
  }
}
