@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  background: rgb(0, 0, 17);
  color: var(--main-color);
}

header {
  width: 100%;
  height: 100px;
}

/* --- HERO --- */
.hero {
  width: 100%;
  height: 500px;
  position: relative;
}

.hero__img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero__txt {
  position: absolute;
  font-size: 2.4rem;
  text-align: center;
  top: 40%;
  left: 10%;
  color: darkcyan;
}

/* --- FORM --- */
.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 40px;
}

.text__input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

input {
  max-height: 40px;
  width: 300px;
  padding: 12px;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  border: none;
  background-color: white;
  color: rgb(64, 64, 64);
}

input:focus {
  outline: 2px solid darkcyan;
}

.add-btn {
  width: 250px;
  background-color: darkcyan;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  outline: none;
}

.add-btn:hover {
  cursor: pointer;
}

/* --- GALLERY --- */

.gallery__title {
  text-align: center;
  color: darkcyan;
}

.gallery__subtitle {
  text-align: center;
  color: oldlace;
  font-weight: 500;
}

.act_gallery {
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 230px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  position: relative;
  background-color: white;
}

.card-id {
  font-family: "Old Standard TT", serif;
  font-weight: 600;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -25px;
  left: -5px;
  font-size: 4.5rem;
  color: darkcyan;
}

.card-img {
  width: 150px;
  height: 150px;
  background-color: rgb(208, 208, 208);
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgb(0, 0, 17);
  margin: 0 auto;
}

.card-name {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.card-surname {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.card-btn {
  border: none;
  background-color: rgb(0, 0, 17);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 80px;
  padding: 7px 0;
  letter-spacing: 0.1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.card-btn:hover {
  cursor: pointer;
  background-color: darkcyan;
  transition: all 0.15s;
}

footer {
  width: 100%;
  height: 90px;
  border-top: 1px solid #624650;
  display: flex;
  justify-content: center;
  align-items: center;
}
