.Header {
  padding: 0 1rem 1.5rem;
  width: 100%;
  border-bottom: 0.5px solid rgba(211, 211, 211, 0.573);

  div {
    display: flex;
    justify-content: center;
    gap: 7rem;

    h4 {
      margin: 0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        text-decoration-color: #1da1f2;
        text-underline-offset: 6px;
        text-decoration-thickness: 3px;
      }
    }
  }
}

@media (min-width: 800px) {
  .Header {
    padding: 0 4rem 1.5rem;
  }
}
