@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

body {
  background-color: rgb(173, 199, 245);
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.head {
  padding: 20px;
  color: midnightblue;
  font-family: Montserrat;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  align-self: center;
  padding-top: 15px;
  align-self: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 280px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: black;
  padding-top: 50px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card-name {
  text-transform: capitalize;
}

.card-id {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}

.card-type {
  font-size: 1rem;
}
